<div class="mt-9">
    <span style="line-height:0;display:block">
        <svg width="100%" height="100%" viewBox="0 0 1200 112">
            <path d="M0 41.359C105.333 13.786 219.333 0 342 0c184 0 330.972 96.172 510.5 96.172 119.685 0 235.519-18.27 347.5-54.813V112H0V41.359z" fill="#f8f7fc" fill-rule="evenodd"></path>
        </svg>
    </span>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>¿Quiénes somos?</h5>
                <p>
                    Sinérgica consultores, es una compañía especializada comprometida con la entrega de calidad, conformada por socios y asociados que cuentan con más de 25 años de experiencia en las áreas de impuestos, auditoría, finanzas y contabilidad.
                </p>
            </div>
            <div class="col-lg-3">
                <h5>Redes Sociales</h5>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i> /accountyzer</a></li>
                </ul>
                <h5>Correo Electónico</h5>
                <ul>
                    <li><a href="mailto:soporte@accountyzer.com"><i class="fas fa-at"></i> soporte@accountyzer.com</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Servicios</h5>
                <ul>
                    <li><a href="/servicio/impuestos">Impuestos</a></li>
                    <li><a href="/servicio/auditoria">Auditoria</a></li>
                    <li><a href="/servicio/servicios-de-outsourcing">Servicios de Outsourcing</a></li>
                    <li><a href="/servicio/consultoria-y-asesoria">Consultoria y Asesoria</a></li>
                    <li><a href="/servicio/desarrollo-del-talento-humano">Desarrollo del Talento Humano</a></li>
                </ul>
            </div>
            {#
            <div class="footer-logo">
                <img src="{{ asset('/images/logo-accountyzer-white.svg')}}" />
            </div>
            #}
        </div>
    </div>
</footer>
<div class="sponsor">
    <strong>Sitio Web en Contrucción:</strong> propierdad de Accountyzer y diseñado por: Víctor M. Reyes
</div>