/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

#VisualStudioCode
/.vscode/

#desktop.ini
**/desktop.ini
desktop.ini
**/*/desktop.ini
/nbproject/private/

#WebPack
/node_modules/*

#NetBeans 
/nbproject/*

#Vim
vim.exe.stackdump

#Carpetas de imagenes
/web/images/services/*
/web/media/*