{% extends 'templates/base.html.twig' %}
{% block body %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('/images/example-banner-1.jpg')}}" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('/images/example-banner-2.jpg')}}" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('/images/example-banner-3.jpg')}}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Actualizaciones</h1>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-danger">Go somewhere</a>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-danger">Go somewhere</a>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-danger">Go somewhere</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <a href="#">Ver más <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>¿Quiénes somos?</h1>
                    <p>Texo de quiénes somos.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Misión</h1>
                    <p>Prestar servicios de alta calidad, con sentido común y sentido de negocios, que permitan a nuestros clientes alcanzar sus objetivos de forma más segura, eficiente y rápida posible.</p>
                </div>
                <div class="col-lg-6">
                    <h1>Visión</h1>
                    <p>Ser una empresa reconocida, por la excelencia, calidad humana, y facilitadores del éxito empresarial de sus clientes; por la preparación, conocimiento, experiencia y ética de sus socios, asociados y colaboradores; y por la certeza, velocidad, eficacia, valor y confiabilidad de sus servicios.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Valores</h1>
                    <p>Texo de valores.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h1>¿Cómo llegar?</h1>
                    <p>Camino Viejo a Tesistan 2255-B, <br/>
                    Jardines del Valle, <br/>
                    45138 Zapopan, <br/>
                    <strong>
                    Jal., México
                    </strong>
                    </P>
                    * Dirección y mapa de ejemplo
                </div>
                <div class="col-lg-8">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3730.977469111839!2d-103.43225458453415!3d20.751707286149113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428af5f90fc0cf3%3A0x1f3db591dfcd9b42!2sSINERGIA+CONSULTORES+BIENES+%26+RAICES!5e0!3m2!1ses-419!2ssv!4v1534184493043" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}