{% extends 'templates/base.html.twig' %}
{% block body %}
    <section>
        <div class="container">
            <div class="contact-confirm">
                <h1>¡<span>{{ message.name }}</span> tu mensaje ha sido enviado exitosamente!</h1>
                <div style="font-size: 5rem" class="mb-4">
                    <i class="far fa-thumbs-up"></i>
                </div>
                <h3>Tu número de confirmación es <span>{{ message.id }}</span></h3>
            </div>
        </div>
    </section>
{% endblock %}
