footer
    padding: 50px 0px 50px 0px
    background-color: $purple-light
    color: $purple-dark
    h5 
        font-weight: 400
        letter-spacing: 2px
        margin: 0px 0px 10px 0px
    ul 
        list-style-type: none
        padding: 0px
        li 
        a
            color: #8c82a1
            &:hover 
                color: $purple
                text-decoration: none
    p
        color: #8c82a1

.footer-logo 
    display: flex
    align-items: center
    justify-content: right
    img 
        height: 115px
        float: right

.sponsor
    background-color: #331c68
    text-align: right
    margin: 0
    color: #fff
    line-height: 2.3rem
    font-size: 0.8rem
    padding-right: 20px
