@import '_variables'
@import '_navbar'
@import '_service'
@import '_footer'
@import '_form'
@import '_img'
@import '_btn'
@import '_contact'
@import '_index'

body
    font-size: 16px
    color: #8c82a1
    font-weight: 300

h1,
h2, 
h3, 
h4, 
h5
    font-family: 'Rubik', sans-serif;
    font-weight: 400
    color: $purple-dark
    letter-spacing: 3px

@media only screen and (max-width: 600px) 
    body 
        font-size: 15px
    
a
    &:hover 
        text-decoration: none

section
    //border-bottom: 1px solid #e3e3e3
    padding-top: 40px
    padding-bottom: 30px
    h1
        font-size: 1.8rem
        margin-bottom: 20px
    h2
        margin-top: 10px
        margin-bottom: 30px
        font-size: 1.9rem
        color: $red-dark
    h5
        font-size: 1.1rem
    p
        line-height: 1.7rem

.map
    iframe 
        border-radius: 10px
     
.error 
    h1 
        display: block
        font-size: 10rem
        text-align: center
        color: #d0d0d0
    h2
        display: block
        text-align: center
        font-size: 2.5rem
        margin-bottom: 15px
    p 
        text-align: center
        margin-bottom: 50px

@media only screen and (max-width: 1024px) 
    .banner
        h1 
            font-size: 2.5rem
        p
            font-size: 1.2rem
        padding-top: 6.8rem
        height: 100vh
        background-position: center center
 
.about-us
    font-size: 10rem
    text-align: right
    color: $gray
    &:hover 
        color: #000000

address
    margin-bottom: 20px

.mt-6
    margin-top: 60px
.mt-7
    margin-top: 70px
.mt-8
    margin-top: 80px
.mt-9 
    margin-top: 90px

.see-more
    margin-top: 20px
    width: 110px
    padding: 5px 5px 5px 10px
    border-radius: 5px
    
    a
        color: $purple
        text-decoration: none
        font-weight: 600
        i
            margin-left: 15px
    &:hover
        background-color: $purple-light
        transform: scale(1.02)
        transition: transform .3s
    &:active 
        background-color: $purple-light
        transform: scale(1)
        transition: transform .3s

#info
    h5
        font-weight: 600
        letter-spacing: 2px
        color: $purple-dark
        i
            font-size: 0.9rem
    p, 
    a
        margin-left: 19px
        color: $text-default

.zoom
    &:hover
        transform: scale(1.02)
        transition: transform .3s
    &:active 
        transform: scale(1)
        transition: transform .3s