@import '_variables'
@import '_navbar'
@import '_service'
@import '_footer'
@import '_form'
@import '_img'

body
    font-size: 16px
    color: #6f6485
    font-weight: 200


h1,
h2, 
h3, 
h4, 
h4
    font-family: 'Rubik', sans-serif;
    font-weight: 400
    color: #25114C

@media only screen and (max-width: 600px) 
    body 
        font-size: 15px
    
a
    color: #000

section
    border-bottom: 1px solid #e3e3e3
    padding-top: 40px
    padding-bottom: 30px
    h1
        font-size: 1.8rem
    h2
        margin-top: 10px
        margin-bottom: 30px
        font-size: 1.9rem
        color: $red-dark
    h5
        font-size: 1.1rem
    p
        margin-top: 15px
        line-height: 1.6rem

.map
    iframe 
        margin-top: 10px
        border-radius: 10px
        
.map.contact 
    iframe 
        margin-top: 30px

.contact-info 
    margin-top: 40px

.error 
    h1 
        display: block
        font-size: 10rem
        text-align: center
        color: #d0d0d0
    h2
        display: block
        text-align: center
        font-size: 2.5rem
        margin-bottom: 15px
    p 
        text-align: center
        margin-bottom: 50px
        
.contact-form 
    i 
        color: #d0d0d0
        font-size: 8rem
        display: block
        text-align: center 
        margin-bottom: 40px

.contact-confirm
    i 
        color: #d0d0d0
        font-size: 8rem
        display: block
        text-align: center 
        margin-bottom: 40px
        margin-top: 40px
    h1
        text-align: center
        margin-bottom: 0px
        font-weight: 400
        span
            color: $red
            font-weight: 500 
    h3
        text-align: center
        font-weight: 400
        span
            color: $red 
            font-weight: 500

.message-error
    margin-bottom: 10px
    color: $red
    font-weight: 400

.header
    h1 
        font-size: 3rem
        font-weight: 500
        margin-bottom: 15px
        text-shadow: 2px 2px #7f7f7f
        span 
            font-weight: 500
    p
        font-size: 1.1rem
    background-image: url('../images/accountyzer-banner.jpg')
    max-width: 100%
    position: relative
    color: white
    z-index: 1
    color: #fff
    padding-top: 7rem
    height: 350px
    background-position: center center
    &:after 
        content: "";
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.4)
        z-index: -17

@media only screen and (max-width: 1024px) 
    .banner
        h1 
            font-size: 2.5rem
        p
            font-size: 1.2rem
        padding-top: 6.8rem
        height: 100vh
        background-position: center center
 
.about-us
    font-size: 10rem
    text-align: right
    color: $gray
    &:hover 
        color: #000000

address
    margin-bottom: 20px