{% extends 'templates/base.html.twig' %}

{% block body %}
<section>
    <div class="container">
        <class="row">
            <h1><i class="{{ service.icon }} fa-fw"></i> {{ service.name }}</h1>
            <p>{{ service.description }}</p>
            <div class="col-lg-12">
                {% for d in detail %}
                    {% if service.id == d.service.id %}
                        <li>{{ d.name }}</li>
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
    </div>
</section>
{% endblock %}
