{% extends 'templates/base.html.twig' %}
{% block body %}
 <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1><i class="{{ service.icon }} fa-fw"></i> {{ service.name }}</h1>
                <p>{{ service.description }}</p>
                <ul class="fa-ul">
                    {% for d in detail if service.id == d.service.id %}
                        <li><span class="fa-li" style="font-size: 0.6rem; margin-top: 5px"><i class="fas fa-check"></i></span>{{ d.name }}</li>
                    {% endfor %}    
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
